@import url();

p{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

body{
    background-image: url(../assets/Carretera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    position: absolute;
    font-size: 75px;
    margin-left: 22%;

}

span{
    color:black;
    font-style: italic;
    font-size: 2rem;
    position: absolute;
    margin-left: 23%;
}

#MiVehiculo{
    width: 250px;
    height: 250px;
    background-image: url(../assets/);
    background-size: cover;
    animation: MoverImagen 5s linear infinite
}

.borde{
    color:brown;
    text-shadow: 1px -1px 0 blue, -1px -1px 0 white, 1px 1px 0 gray, 1px -1px 0 white, ;
}

.ola{
    color:brown;
    animation: 3s ease-in-out infinite;
}