@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

p{
    color:white;
    font-family: "Roboto";
}

body{
    background-image: url(../assets/carreteraExamen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

h1{
    position: absolute;
    font-size: 75px;
    margin-left: 22%;
}

span{
    color:black;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 17%;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 70ch;
    overflow: hidden;

    animation: typing 2s infinite steps(54), blink 5s infinite step-end alternate ;
}

#MiVehiculo{
    width: 400px;
    height: 230px;
    background-image: url(../assets/m2-competition.jpg);
    background-size: cover;
    animation: moverImagen 4s linear infinite;
}

.borde{
    color:brown;
    text-shadow: 1px -1px 0 aquamarine, -1px -1px 0 white, 1px 1px 0 gray, 1px -1px 0 white;
}

.ola{
    color:brown;
    animation: ola 3s ease-in-out infinite;
}


@keyframes moverImagen{
    from{
        transform: translateX(-100);
    }
    to{
        transform: translateX(400%);
    }
}


/*Escribir h2*/
@keyframes typing{
    from{
        width: 0;
    }
}

